body {
  background-color: white;
  margin: 0;
  padding: 0;
}

header,
.content,
footer .inner-footer {
  width: 50rem;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  height: 6.25rem;
}

header .logo {
  display: flex;
  overflow: hidden;
  justify-content: center;
  height: 6.25rem;
  width: 8.5rem;
  text-align: center;
}

header .logo object {
  height: 10rem;
  width: 15rem;
  margin-top: -1rem;
}

nav ul {
  list-style: none;
}

nav.main ul.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  height: 8.5rem;
  width: calc(50rem - 8.5rem);
  font-family: "Roboto";
}

nav.main ul.navigation-list li {
  list-style: none;
  justify-content: space-between;
  padding: 40px 0.35px 0.16px;
  margin: 0px 42px 48px;
}
a {
  text-decoration: none;
  color: black;
}

footer {
  position: absolute;
  bottom: -2.25rem;
  width: 100%;
  padding: 4rem 1rem;
  background-color: #28234c;
  color: white;
  transform: skewY(3deg);
}

footer .inner-footer {
  transform: skewY(-3deg);
}
nav.footer ul a {
  color: white;
}

nav.footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 66%;
}

nav.footer ul li {
  width: 50%;
}
